############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> ERCF MCUs are called "ercf" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line


#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
pressure_advance: 0.035
pressure_advance_smooth_time: 0.040
rotation_distance: 47.794
control: pid
pid_kp: 22.399
pid_ki: 1.965
pid_kd: 63.838

[heater_bed]
control: pid
pid_kp: 36.280
pid_ki: 1.336
pid_kd: 246.250


#-------------------------#
#   Z MOTORS DIRECTION    #
#-------------------------#

## Here is an example of some overrides for the motor directions as it's a pretty common one. If you need
## to invert the Z1 or Z3 motor direction on your machine, just uncomment the following lines.
[stepper_z1]
dir_pin: !Z1_DIR

[stepper_z3]
dir_pin: !Z3_DIR


#-------------------------#
#   Probe                 #
#-------------------------#

[probe]
z_offset = -1.356
samples_tolerance: 0.100
samples_tolerance_retries: 5


#-------------------------#
#   Input Shaper          #
#-------------------------#

[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 44.4
shaper_type_x: mzv
shaper_freq_y: 33.8
shaper_type_y: mzv

#-------------------------#
#   Filament sensor       #
#-------------------------#

[filament_motion_sensor runout_sensor]
switch_pin: MOTION_SENSOR
detection_length: 3.0

#-------------------------#
#   Bed mesh              #
#-------------------------#

[bed_mesh]
horizontal_move_z: 3


#-------------------------#
#   Fans                  #
#-------------------------#

[multi_pin controller_fan_pins]
pins: CONTROLLER_FAN1, CONTROLLER_FAN2

[controller_fan controller_fan]
pin: multi_pin:controller_fan_pins
kick_start_time: 0.5
heater: heater_bed



