############################################# \
######## USER CONFIG OVERRIDES FILE #########  + --> This will help you personalize my config to your printer :)
############################################# /

# This file is yours! Feel free to edit it in order to include all the needed
# things to adapt my generic config to your machine. This file will not be erased
# when updating the config using moonraker and it will be kept as you've set it.
# You can change every section of the config. You can also add some new custom macros, etc...
# The corresponding documentation can be found in: docs > overrides.md

### Also, keep in mind: if you use a multi-MCU config such as the old school double SKRs or a CANbus toolhead
### board, you will need to specify which components are connected to which board in your own mcu.cfg file!
### Example: if something is connected to the toolhead MCU, you should use "config_pin: toolhead:PIN_NAME".

#> Main control MCUs are called "mcu" (and "secondary" when using a double MCU configuration)
#> Toolhead CANboard MCUs are called "toolhead"
#> ERCF MCUs are called "ercf" 

# ------------------------------------------------------------------------------------------


#-------------------------#
#   START_PRINT SEQUENCE  #
#-------------------------#

## The START_PRINT sequence is modular and fully customizable. A default START_PRINT sequence is auto-populated based on
## your probe choice (TAP, Dockable, Inductive), but if for some reasons you still want to modify it, please uncomment the following 3
## lines to define a new `variable_startprint_actions`. You can use any number of action or even duplicate some actions if needed.
## Available actions: "bed_soak", "extruder_preheating", "chamber_soak", "extruder_heating", "tilt_calib", "z_offset", "bedmesh", "purge", "clean", "primeline"
##
# [gcode_macro _USER_VARIABLES]
# variable_startprint_actions: "action1", "action2", ...
# gcode: # do not remove this line


#-------------------------#
#   EXTRUDER/BED PIDs     #
#-------------------------#

## Here is an example of some overrides for the PIDs. I put them here as almost everyone will use them,
## so just uncomment the following lines and change the values according to your own machine
[extruder]
sensor_type: PT1000
pressure_advance: 0.035
pressure_advance_smooth_time: 0.040
rotation_distance: 47.794
max_temp: 295
max_extrude_only_distance: 300
control: pid
pid_kp: 29.451
pid_ki: 3.570
pid_kd: 60.743

[heater_bed]
control: pid
pid_kp: 36.280
pid_ki: 1.336
pid_kd: 246.250

#-------------------------#
#   Height                #
#-------------------------#

[stepper_z]
position_max: 330

#-------------------------#
#   Limits                #
#-------------------------#
[printer]
max_velocity = 600
max_accel = 24000
max_z_velocity = 30
max_z_accel = 500

#-------------------------#
#   SENSORLESS HOMING     #
#-------------------------#

[tmc2209 stepper_x]
driver_SGTHRS: 110  

[tmc2209 stepper_y]
driver_SGTHRS: 110

#-------------------------#
#   RUN CURRENT           #
#-------------------------#
[tmc2209 stepper_x]
run_current: 0.8

[tmc2209 stepper_y]
run_current: 0.8

#-------------------------#
#   QGL                   #
#-------------------------#

[quad_gantry_level]
horizontal_move_z: 2
retries: 10
retry_tolerance: 0.0075
max_adjust: 10

#-------------------------#
#     MOTORS DIRECTION    #
#-------------------------#

[extruder]
dir_pin: !E_DIR

[stepper_z1]
dir_pin: !Z1_DIR

[stepper_z3]
dir_pin: !Z3_DIR

#-------------------------#
#   Centering             #
#-------------------------#

[stepper_y]
position_min: 0
position_max: 353
position_endstop: 353

#-------------------------#
#   Probe                 #
#-------------------------#

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_8D4C90244E5737374D202020FF0A0E16-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 22 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2

[beacon model default]
model_coef: 1.9091168692546117,
	  2.1899323962673902,
	  0.6079134526319617,
	  0.16061732414171453,
	  0.1015165262637375,
	  0.11930148702409481,
	  -0.10268785532308122,
	  -0.06371448505709051,
	  0.09049497775487876,
	  0.007544576501720049
model_domain: 1.946073306739796e-07,1.9518030287959836e-07
model_range: 0.200000,5.000000
model_temp: 55.347712
model_offset: -0.065 #increase to increase nozzle height, decrease to lower nozzle height

[bed_mesh]
mesh_max:300,300

#-------------------------#
#   Input Shaper          #
#-------------------------#

[resonance_tester]
accel_chip: beacon
probe_points: 175, 175, 20

[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 57.4
shaper_type_x: mzv
shaper_freq_y: 38.2
shaper_type_y: mzv

#-------------------------#
#   Filament sensor       #
#-------------------------#

[filament_motion_sensor runout_sensor]
switch_pin: ^MOTION_SENSOR
detection_length: 4
runout_gcode:
  PAUSE
  SET_IDLE_TIMEOUT TIMEOUT=999999
insert_gcode:
  RESUME
  SET_IDLE_TIMEOUT TIMEOUT=1800

#-------------------------#
#   Fans                  #
#-------------------------#

[heater_fan hotend_fan]
tachometer_pin: ^MCU_STOP2
tachometer_ppr: 2
tachometer_poll_interval: 0.0004

[multi_pin controller_fan_pins]
pins: CONTROLLER_FAN1, CONTROLLER_FAN2

[controller_fan controller_fan]
pin: multi_pin:controller_fan_pins
kick_start_time: 0.5
idle_timeout: 60
heater: heater_bed
  
   
